# Python virtual environments
venv/
.venv/
env/

# Python cache
__pycache__/

# Site packages / DLLs
Lib/
Scripts/

# Datasets and large weights
dataset/
results/
*.dat
*.h5

# OS junk
.DS_Store
Thumbs.db
